body{
	margin: 0;
	padding: 0;	
}
.contenedor{
	margin: 0;
	padding: 0;
}
.caja{
	position: absolute;
	width: 200px;
	height: 200px;
}
#rosa{
	background-color: #EE3E64;
	top: 0;
	left: 0;
}
#azul{
	background-color: #2B7DB9;
	top: 0;
	right: 0;
}
#verde{
	background-color: #B7D84B;
	left: 0;
	bottom: 0; 
}
#amarillo{
	background-color: yellow;
	right: 0;
	bottom: 0;
}